.BannerContainer {
  display: flex;
  flex-direction: row;
  padding: 0.5px;
  justify-content: space-between;

  position: absolute;
  height: 86px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: #ecf1ff;
}

.EpiLogo {
  border-radius: 35px;
}
.EpiLogoText {
  border-radius: 35px;
}

.ProfileContainer {
  display: flex;
  flex-direction: column;
  padding: 18px;
  align-items: center;
}

.ProfileImage {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(238, 170, 179);
}

.ProFileName {
  font-size: 0.7rem;
  text-align: center;
}

.allGroupContainer {
  position: relative;

  background: #f7f9ff;
}
.AssessmentCOntainer {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #3552a7;
}
